*{
    margin: 0;
    padding: 0;
    outline: 0;
}

img{
    padding: 0;
    margin: 0;
}


#dark{
    background:#1A1A1D;
}

/*NAVBAR*/
.navbar{
    margin-bottom: 0;
    width: 100%;
    border-radius: 0;
    background: transparent !important;
}

.navbar .navbar-brand b{
    color: #eb6959;
}

.navbar .navbar-brand{
    color: #fff;
    margin-bottom: 15px;
    font-family: 'Patua One';
    font-size:26px;
}

.navbar .navbar-brand:hover{
    color: #eb6959;
}

.navbar .navbar-header{
    margin: 10px 0px 0px 165px;
}

.navbar .collapse{
    margin: 10px 130px 0 0%;
    float: right;
}

.navbar .nav li{
    margin-right: 50px;
    font-family: 'Fresca';
    
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover{
    background-color: transparent !important; 
}

.navbar-inverse .navbar-nav>.active>a:hover{
    color: #eb6959;
}

/*BANNER*/
#banner{
    padding: 180px 0 180px;
    width: 100%;

}

.container .row{
    padding-left: 70px;
}

.container .row img{
    height: 280px;
    margin-top: 30px;
}

.row .col-sm-6 h1{
    font-size: 36px;
    font-family: 'Patua One';
    color: #eb6959;
}

.row .col-sm-6 span{
    color: #e88376;
}


.row .col-sm-6 p{
    font-size: 17px;
    font-family: 'Fresca';
    color:#787878;
    padding-right: 40px;
    line-height: 26px;
    padding-bottom: 45px;
}

.row .col-sm-6 a{
    padding: 14px 20px;
    background:#eb6959;
    color: white;
    font-family: 'Fresca';
    font-size: 18px;
    text-decoration: none;
    position: relative; 
}

.row .col-sm-6 a:hover{
    color: #000;
}

.row .col-sm-6 a:hover:after{
    top: 7px;
    text-decoration: none;
}

.row .col-sm-6 a::after{
    width: 100%;
    height: 100%;
    text-decoration: none;
    position: absolute;
    content: '';
    top: 10px;
    left: 0;
    background: #e63c27;
    z-index: -1;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

/*FOOTER*/
.foot{
    padding-bottom: 20px;
    margin-left: 10px;
}

.foot a{
    color: #fff;
}

.foot a:hover{
    color: #5c5c5c;
}




